/* Importing Google font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
 /* Fallback for older browsers */
 background: url(dash.jpg) no-repeat;
 background-size: cover;
 background-position: center;
  padding-left: 7%;

}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 85px;
  display: flex;
  overflow-x: hidden;
  flex-direction: column;
  background: #161a2d;
  padding: 25px 20px;
  transition: all 0.4s ease;
}

.sidebar:hover {
  width: 260px;
}

.sidebar .sidebar-header {
  display: flex;
  align-items: center;
}

.sidebar .sidebar-header img {
  width: 42px;
  border-radius: 50%;
}

.sidebar .sidebar-header h2 {
  color: #fff;
  font-size: 1.25rem;
  font-weight: 600;
  white-space: nowrap;
  margin-left: 23px;
}

.sidebar-links h4 {
  color: #fff;
  font-weight: 500;
  white-space: nowrap;
  margin: 10px 0;
  position: relative;
}

.sidebar-links h4 span {
  opacity: 0;
}

.sidebar:hover .sidebar-links h4 span {
  opacity: 1;
}

.sidebar-links .menu-separator {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 1px;
  transform: scaleX(1);
  transform: translateY(-50%);
  background: #4f52ba;
  transform-origin: right;
  transition-delay: 0.2s;
}

.sidebar:hover .sidebar-links .menu-separator {
  transition-delay: 0s;
  transform: scaleX(0);
}

.sidebar-links {
  list-style: none;
  margin-top: 20px;
  height: 80%;
  overflow-y: auto;
  scrollbar-width: none;
}

.sidebar-links::-webkit-scrollbar {
  display: none;
}

.sidebar-links li a {
  display: flex;
  align-items: center;
  gap: 0 20px;
  color: #fff;
  font-weight: 500;
  white-space: nowrap;
  padding: 15px 10px;
  text-decoration: none;
  transition: 0.2s ease;
}

.sidebar-links li a:hover {
  color: #161a2d;
  background: #fff;
  border-radius: 4px;
}

.user-account {
  margin-top: auto;
  padding: 12px 10px;
  margin-left: -10px;
}

.user-profile {
  display: flex;
  align-items: center;
  color: #161a2d;
}

.user-profile img {
  width: 42px;
  border-radius: 50%;
  border: 2px solid #fff;
}

.user-profile h3 {
  font-size: 1rem;
  font-weight: 600;
}

.user-profile span {
  font-size: 0.775rem;
  font-weight: 600;
}

.user-detail {
  margin-left: 23px;
  white-space: nowrap;
}

.sidebar:hover .user-account {
  background: #fff;
  border-radius: 4px;
}

.container h1 {
  color: #ffffff;
}
.container h2 {
  color: #ffffff;
  padding-bottom: 20px;
}

.table-container {
  margin-top: 20px;
}
.table {
  
  width: 95%;
  border-collapse: collapse;
  background-color: #414958;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
  margin-left:2%;
  color: white;
}
.table thead {
  background-color: #202938;
}
.table th,
.table td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}
.table tbody tr:nth-child(even) {
  background-color: #202938;
}
.table tbody tr:hover {
  background-color: #364560;
}
.table td:last-child {
  text-align: center;
}
.table .btn {
  background-color: #78040f;
  color: #fff;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: inline-block;
}
.table .btn:hover {
  background-color: #c82333;
}

/* Style for the main section */
#main {
  padding: 20px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  gap: 20px; 
  width: 50%;
  

}



.box {
  background-color: #161a2d; 
  padding: 20px; /* Padding inside the box */
  border-radius: 8px; /* Rounded corners */
  box-shadow: 0 0 50% rgba(0, 0, 0, 0.1); /* Shadow for a bit of depth */
  padding-bottom: 30%;
  border-style: outset;
  border-width: 2px;
  border-color: rgb(0, 0, 0);
}

.box_plot {
  background-color: #161a2d; 
  padding: 20px; /* Padding inside the box */
  border-radius: 8px; /* Rounded corners */
  box-shadow: 0 0 50% rgba(0, 0, 0, 0.1); /* Shadow for a bit of depth */
  padding-bottom: 10%;
  width: 235%;
  
  
  border-style: outset;
  border-width: 2px;
  border-color: rgb(0, 0, 0);
}

/* Heading style for each box */
.box h3 {
  margin-bottom: 10px; /* Space below heading */
  color: #ffffff; /* Dark text color */
}

.box_plot h3 {
  margin-bottom: 10px; /* Space below heading */
  color: #ffffff; /* Dark text color */
}

/* Paragraph style inside the box */
.box p {
  margin: 0; /* Remove default margin */
  font-size: 1.2rem; /* Larger font size */
  font-weight: bold; /* Bold text */
}
